cachelib==0.1.1
click==7.1.2
dnspython==1.16.0
eventlet==0.29.1
Flask==1.1.2
Flask-Login==0.5.0
Flask-Session==0.3.2
Flask-SocketIO==4.3.1
greenlet==0.4.17
itsdangerous==1.1.0
Jinja2==2.11.2
llvmlite==0.35.0
MarkupSafe==1.1.1
numba==0.52.0
numpy==1.19.4
python-engineio==3.13.2
python-socketio==4.6.0
six==1.15.0
Werkzeug==1.0.1
